application/src/state-machines/stateMachine.asl.json
{
    "Comment": "A state machine",
    "StartAt": "HandleInput",
    "States": {
        "HandleInput": {
            "Type": "Task",
            "Resource": "${HandleInputFunctionArn}",
            "Next": "HandleInput2",
            "Catch": [{
              "ErrorEquals": ["DocumentNotFound"],
              "Next": "DocumentNotFoundErrorFallback"
            }]
          },
          "HandleInput2": {
            "Type": "Task",
            "Resource": "${HandleInput2FunctionArn}",
            "End": true,
            "Parameters": {
                "message.$": "$.message",
                "description.$": "$.description"
            },
            "ResultPath": "$.handleInput2",
            "Catch": [{
              "ErrorEquals": ["States.TaskFailed"],
              "Next": "Fail"
            }]
          },
          "DocumentNotFoundErrorFallback": {
            "Type": "Pass",
            "Result": "Successfully handled the not found error",
            "End": true
        },
        "Fail": {
            "Type": "Fail"
        }
    }
}